{% extends 'layout/layout.html' %}
{% load django_tables2 %}
<!DOCTYPE html>

{% block atitle %}Home Page{% endblock %}

{% block navbar %}
              <li><a href="/#">Home</a></li>
              <li class="active"><a href="/subred">Subreddits</a></li>
              <li><a href="/user">Redditors</a></li>
              <li><a href="/viz">Vizualizations</a></li>
{% endblock %}

{% block content %}

<div class="jumbotron">
     <div class="container">
        <h1>Search a Subreddit</h1>
        <p><form method = 'POST' action = ''>
            {% csrf_token %}{{form}}
            <input type = 'submit' value = 'Search' /></form>
        </p>
     </div>
</div>

{% endblock %}

<!-- {% render_table table %} -->


<!--
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel = "stylesheet" href = "style.css">
        <title>Subreddit search</title>
    </head>
    <body>
    	<form>
    		<input type = "text" name = "subreddit" placeholder= "subreddit">
    		<input type="submit" value = "submit">
    	</form>
    </body>
</html>
