{% extends 'layout/layout.html' %}
<!DOCTYPE html>

{% block atitle %}About Staddit{% endblock %}

{% block navbar %}
              <li><a href="/#">Home</a></li>
              <li><a href="/subred">Subreddits</a></li>
              <li><a href="/user">Redditors</a></li>
              <li class="active"><a href="/viz">Vizualizations</a></li>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="page-header" align="center">
        <h1><font size = "8">Visualization</font></h1>
    </div><br>
    <div class="container" align="center">
      <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/17156084_245817915883200_2048997821296092030_n.jpg?oh=83879dcd592a60d71a99098cbe386446&oe=598B9A56"/>
    </div>
</div>

{% endblock %}